.Main{
    min-height:100vh;
    max-width:1024px;
    text-align: center;
    margin: 0 auto;
}
input[type=submit] {
	height: 50px;
	cursor: pointer;
	background: #ccc;
	padding: 10px;
	border: 2px solid #ccc;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color: #54a0ff;
	border: 1px solid #54a0ff;
	color: #fff;
	font-size: 15px;
	transition: 1s ease-in-out;
	outline: none;
	flex: 1 1 100%;
	margin-top: 10px;
}

input[type=submit]:hover {
	background-color: #0984e3;
	border: 1px solid #0984e3;
}
input[type=search] {
	padding: 5px;
	border: 2px solid #ccc;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	outline: none;
	height: 50px;
	transition: 1s ease-in-out;
    flex: 1 1 100px;
    margin-right:20px;
}

input[type=search]:focus {
	border-color: #0984e3;
}

.Cards{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	
}