
//- .card
//-     .basic-info-card
//-         each article in news
//-             h3=article.title
//-             img(src='google.com')
//-             p=article.description
//-     .card-links
//-         a Read more
//-         a Make a tweet

script
    include ../public/javascripts/article.js