extends layout


//- to write basic HTML and then convert it to PUG
//- https://html-to-pug.com/

block content
  h1= title
  p Welcome to #{title}
  h1 Pug Examples
   div.container
     p Cool Pug example!
