extends layout


//- to write basic HTML and then convert it to PUG
//- https://html-to-pug.com/

block content
  .intro-screen
    #text-intro
      h1 Cloud News Discussions
      hr
      h3 Engage with the world on Twitter
  .wrapper
    h1 Search your favourite topic
    .search
      input(type='search' placeholder='Enter a keyword for your news search')
      input(type='submit' name='searchSubmit')
    .hot-headlines
      h1 Trending news
      .articles-section
        include article

