.Main {
    min-height: 100vh;
    max-width: 1024px;
    text-align: center;
    margin: 0 auto;
}

.Card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    flex-wrap: wrap;
    opacity: 0.9;
    margin: 20px;
    border: 1px solid #ecf0f1;
    background-color: #ecf0f1;
    border-radius: 20px;
    padding: 20px;
}

.Credentials {
    display: flex;
    justify-content: space-around;
}

.Credentials img {
    border-radius: 100%;
    margin-left: 30%;
}

.Last {
    display: flex;
    justify-content: space-around;
}

.DisplayHash {
    display: flex;
    flex-direction: column;
}


ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    justify-content: center;
    align-items: center;
}

ul li {
    display: inline;
    margin-top: 10px;
    overflow-wrap: break-word;
    margin-right: 10px;
}

.Feedbacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;


}

.Test {
    color: red;
}