.Card{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:270px;
    flex-wrap: wrap;
    opacity: 0.9;
    margin:20px;
}



.Summary{
    padding:15px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
    background-color:#16a085 ;
    color: #fff;
    margin-right: 5px;
    transition: 1s;
}
.Sentiment{
    padding:15px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
    background-color:#3498db ;
    color: #fff;
    transition:1s;
}
.Card a:hover{
    background-color:#2ecc71;
    opacity:1;
}